.header {
  background-color: lightseagreen;
  height: 10%;
  width:100%;
  top: 0;
  left: 0;
  position: fixed;
}

.layout {
  min-height: 83%;
  height: 83%;
  background-color: yellow;
  position: fixed;
  top: 10%;
  left: 0;
  width:100%;
  overflow-y: auto;

}

.menu {
  height: 100%;
}

.content {
  background-color: cornflowerblue;
  border-left: solid 2px darkblue;
  height: 100%;
}

.footer {
  background-color: lightseagreen;
  height: 7%;
  width:100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
